.header-setting {
    position: absolute;
    top: 58px;
    right: 30px;
    width: 380px;
    height: 520px;
    border-radius: 10px;
    box-shadow: 2px 0px 12px 8px rgba(0, 0, 0, 0.09);
    background-color: #fdfdfd;
    z-index: 1;

    .header-setting_header {
        display: flex;
        height: 58px;
        width: 340px;
        margin: 20px;
        flex-direction: row;
        align-items: center;
        border-radius: 10px;
        gap: 10px;
        background-color: #ffffff;
        box-shadow: 2px 0px 8px 4px rgba(0, 0, 0, 0.09);
        cursor: pointer;

        .header-setting_avatar {
            margin-top: 5px;
            margin-left: 10px;
        }

        .header-setting_wrap {
            flex-direction: column;
            align-items: center;

            .header-setting_username {
                font-weight: 700;
                font-size: 18px;
                line-height: 18px;
                color: #28282B;
            }

            .header-setting_profile {
                list-style: none;

                .header-setting_profile__link {
                    font-weight: 400;
                    font-size: 14px;
                    color: orange;
                    text-decoration: none;
                }
            }
        }
    }

    .header-setting-wrap {
        height: 310px;

        .header-setting_list {
            margin: 0;
            padding-left: 20px;
            height: 312px;

            .header-setting_list__item {
                margin: 5px 0;
                height: 58px;
                width: 340px;
                list-style: none;
                border-radius: 5px;

                .header-setting_list__item-link {
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 18px;
                    color: #a7a8ab;
                }
                .log-out{
                    color: orange;
                }
            }
            .header-setting_list__item:hover{  
                transform: translateX(5px);
                background-color: #f2f2f2;
                cursor: pointer;
            }
        }
    }

    .header-setting_footer-wrap {
        height: 96px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        color: #c7c8ca;

        .header-setting_footer__list {
            margin-left: -20px;
            flex-direction: row;

            .header-setting_footer__list-item {
                list-style: none;

                .header-setting_footer__list-item--link {
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 400;
                    color: #c7c8ca;
                }

                .header-setting_footer__list-item--link:hover {
                    color: orange;
                }
            }
        }

        .header-setting_footer__info {
            padding-left: 20px;
            font-weight: 400;
            font-size: 14px;
            cursor: pointer;
        }

        .header-setting_footer__info:hover {
            color: orange;
        }
    }
}